body {background-color: darksalmon; background-image: url(../Imagenes/imagen_fondo.jpg); background-attachment:fixed; background-size:contain;}

#boton {position: fixed; 
    bottom: 96%; 
    right: 0.5%;
    background-image: none;
    background-color: beige;
    border-bottom: blueviolet;
    border-radius: 10px ;
}

header {
    background-image: url(../Imagenes/imagen_fondo_titulo.jpg);
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;}

#logo {
    height: 140px;}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

h1 {font-family: 'Cinzel', serif; 
    font-size: 300%;  
    font-style:italic;
    margin-top: 5%;
    margin-bottom: 5%;
    color: aliceblue;
    text-decoration:solid;
    text-decoration-line: underline;
    text-decoration-color: rgb(238, 231, 231);}

.enlaces {
    background-color:inherit;
    size: 2%;
    margin-top: 5%;
    margin-bottom: 5%;}

nav {color:maroon; 
    background-color: azure; 
    font-size:x-large; 
    font-weight:lighter;  
    font-family: 'Cinzel', serif; 
    text-align: center;
    text-decoration: none;
}

#recetas {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;}

a:hover {
    color: blueviolet;
    font-size:xx-large;
}

#fotos {
    height: 25%;
    display: flex;
    justify-content:space-around;
    box-sizing: content-box;
}

#img1 { width: 49%;}
#img2 { width: 49%;}

.subt {color:maroon; 
    background-color: azure; 
    font-size:xx-large; 
    font-weight:bolder; 
    font-style: italic; 
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;}

#intro {
    font-size:large; 
    font-weight: 200; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    text-align:center;}

#main {
    display: flex;
    height: 20%;
    overflow: auto;
    flex-wrap: wrap;}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

aside {
    width: 23%;
    background-color: azure;
    justify-content: space-around;
    justify-content: flex-end;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-style: solid;
    border-color: brown;
    font-size:large; 
    font-weight: 200; 
    font-family: 'Cormorant', serif; 
    font-style: normal; 
    text-align:center;
    padding: auto;
}

#paris {justify-content: stretch;
    align-items: stretch;
}

.text {font-size:large; 
    font-weight: 700; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    text-align:center;}

.subtitulo {color:rgb(248, 244, 242); 
    background-image: url(../Imagenes/imagen_fondo_titulo.jpg) ; 
    font-size: 200%; 
    font-family: 'Cinzel', serif; 
    font-weight: 500; 
    font-style:oblique; 
    text-align: left; 
    text-decoration:underline;}

#listas {font-size:large; 
    font-weight: 300; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    text-align:left;
    justify-content: flex-start;
    width: 75%;
    overflow: auto;}

.enlace {font-size: x-large; 
    font-family: 'Cinzel', serif; 
    text-decoration: none;
}

.card  {
    background-image: url(../Imagenes/imagen_fondo_titulo.jpg);
    color:aliceblue;
    margin: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.card-title {
    background-color: beige;
    color:rgb(12, 12, 12);  
    font-size: 170%; 
    font-family: 'Cinzel', serif; 
    font-weight: 500; 
    font-style:oblique; 
    text-align: left; 
}

button {background-image: url(../Imagenes/imagen_fondo.jpg);
    border-style: none;
    border-radius: 10px;
    box-sizing: content-box;
}
footer {
    background-color: inherit; 
    box-sizing: border-box;   
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;
    flex-wrap: wrap;}

#wpp {position: fixed; 
    bottom: 3%; 
    right: 1%;}

    @media (max-width:1653px){
        .chiste {display: none;}
    }
    @media(max-width:1070px){
        header {flex-direction: column;}
        #main{display:block;}
        aside {width: 96vw;}
        .listas {width: 96.5vw;}
        .chiste {display: none;}
    }
    @media (max-width:1025px){
        footer {flex-direction: column;}
        #datos {text-align: center;}
        .chiste {display: none;}
    }
    @media (max-width:574px){
        body {background-image: url(../Imagenes/imagen_fondo_titulo.jpg);
            width:fit-content;}
        header {background-image: url(../Imagenes/imagen_fondo.jpg);}
        #logo {display: none;}
        h1 {color: black; text-decoration: black;}
        #recetas {flex-direction: column;
            text-align: left;}
        #intro {color: rgb(248, 248, 239);}
        #main {width:inherit;}
        .subtitulo {background-image: url(../Imagenes/imagen_fondo.jpg); 
            color: black;}
        #listas {color:rgb(247, 250, 252)}
        .text {color: aliceblue;}
        .enlace {display: none;}
        .chiste {display:block;
            color:maroon; 
            background-color: azure; 
            font-size:xx-large; 
            font-weight:bolder; 
            font-style: italic; 
            font-family: 'Times New Roman', Times, serif; 
            text-align: center;}
        .card  {
            background-image: url(../Imagenes/imagen_fondo.jpg);
            color: black;}
        .card-title { background-image: url(../Imagenes/imagen_fondo_titulo.jpg);
            color:aliceblue;}
        }