body {background-image: url(../Imagenes/imagen_fondo.jpg); background-attachment:fixed; background-size:contain;}

h1 {font-family:Monotype Corsiva; 
    font-size: 90px; 
    font: weight 500; 
    font-style:italic; 
    color: aliceblue;
    text-decoration:solid;
    text-decoration-line: underline;
    text-decoration-color: rgb(238, 231, 231);
    background-image: url(../Imagenes/imagen_fondo_titulo.jpg);}

.subt {color:maroon; 
    background-color: azure; 
    font-size:xx-large; 
    font-weight:bolder; 
    font-style: italic; 
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;}

.text {font-size:medium; 
    font-weight: 700; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    text-align:center;}

.subtitulo {color:rgb(248, 244, 242); 
    background-image: url(../Imagenes/imagen_fondo_titulo.jpg) ; 
    font-size: 40px; 
    font-family:Monotype Corsiva; 
    font-weight: 500; 
    font-style:oblique; 
    text-align: right; 
    text-decoration:underline; }

.listas {font-size:medium; 
    font-weight: 500; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    text-align:left;}

.enlace {font-size: large; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;}